<header
    class="flex px-4 sm:px-16 w-full items-center h-16 border-b sticky inset-x-0 top-0 z-50 bg-white justify-between">
    <!-- Logo -->
    <a href="/" class="hover:cursor text-foreground absolute sm:static translate-x-1/2 sm:translate-x-0 right-1/2">
        <img src="https://cdn.akamai.steamstatic.com/apps/csgo/images/csgo_react/global/logo_cs_sm_blk.svg" alt="Logo"
            class="h-6" />
    </a>

    <!-- Botão do Menu (Visível apenas no Mobile) -->
    <button (click)="toggleMenu()" class="block sm:hidden text-xl focus:outline-none" aria-label="Abrir e fechar menu">
        <i class="fa-solid {{ isMenuOpen ? 'fa-xmark' : 'fa-bars' }}"></i>
    </button>

    <!-- Navegação -->
    <nav [ngClass]="{
        'hidden sm:flex sm:gap-8': !isMenuOpen,
        'flex flex-col absolute top-16 border-b sm:border-b-0 inset-x-0 bg-gray-100 p-4': isMenuOpen
      }" class="sm:static sm:flex-row sm:bg-transparent ml-0 sm:ml-auto">
        <ul
            class="flex flex-col sm:flex-row gap-4 sm:gap-8 sm:translate-x-1/2 sm:absolute sm:right-1/2 sm:-translate-y-1/2">
            <li *ngFor="let link of links">
                <a [href]="link.url" class="hover:underline underline-offset-4">
                    {{ link.label }}
                </a>
            </li>
        </ul>
    </nav>

    <div class="ml-8 space-x-6">
        <app-cart />
    </div>
</header>