<div class="mt-4 grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">
    <div *ngFor="let item of products" class="backdrop-blur-lg overflow-hidden w-full h-fit border rounded-2xl">
        <div class="rounded-lg p-4">
            <img [src]="item.itemimage" alt="Olá" class="w-full">
        </div>


        <div class="flex flex-col p-4 h-full justify-between">
            <p class="text-xl font-bold">{{ item.markethashname }}</p>
            <span class="text-sm">{{ item.itemgroup }}</span>

            <div class="flex justify-between items-center h-full">
                <div class="space-y-1">
                    <p class="font-medium text-xl">${{ item.pricelatest }} <span
                            class="text-sm text-muted-foreground">/price</span></p>

                </div>

                <div class="flex gap-2">
                    <button class="rounded-full flex items-center justify-center">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                    <button class="rounded-full flex items-center justify-center">
                        <i class="fa-solid fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>