<app-navbar />

<div class="w-full my-10 px-2.5 sm:px-16">
    <h1 class="font-bold">Produtos</h1>

    <div class="mt-4 space-x-3">
        <button *ngFor="let filter of filters"
            class="inline-flex items-center px-4 py-1 rounded-full border font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80">
            {{ filter.label }}
        </button>
    </div>

    <app-items-list />
</div>



<router-outlet />